body{
    background-color: black;
    font-family: svn-gotham black;
}
.scrolling_active{
    background-color: palevioletred;
}
.btn-outline-light{
    border: none !important;
}
@media screen and (max-width: 480px){
    .gifts{
        flex-direction: column;
    }
}